{{define "view/index.tmpl"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/dist/style.css">
	<link rel="stylesheet" href="/dist/view.css">

	<script src="https://unpkg.com/htmx.org@1.9.5"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
	<script src="/dist/viewer.js"></script>

	<title>{{.prompt}} - Constructify</title>
</head>
<body>
	{{if not .object}}
		<div
			hx-ext="response-targets"
			hx-get="/object"
			hx-trigger="load"
			hx-vals='{"id": "{{.id}}"}'
			hx-swap="outerHTML"
			hx-target-*="this"
			hx-indicator="#loading"
		>
	{{end}}

	{{template "view/object.tmpl" .}}
	
	{{if not .object}}
		</div>
	{{end}}

	<a id="home" href="/">
		<img src="/assets/ic/house.svg" alt="Go Home" width="24" height="24">
	</a>
</body>
</html>
{{end}}
