{{define "view/index.tmpl"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/dist/view.css">

	<script src="https://unpkg.com/htmx.org@1.9.5"></script>
	<script src="/dist/viewer.js"></script>

	<title>{{or .error .prompt}} - Constructify</title>
</head>
<body>
	<a href="/">Go Home</a>
	<h1 id="header">{{.prompt}}</h1>

	{{if or .error .object}}
		{{template "view/object.tmpl" .object}}
	{{else}}
		<div id="spinner" hx-get="/object" hx-trigger="load" hx-vals='{"id": "{{.id}}"}' hx-indicator="#header" hx-swap="outerHTML"></div>
	{{end}}
</body>
</html>
{{end}}
