@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root, body {
  height: 80%;
}

body {
  background: url("/assets/background.png");
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Young Serif', sans-serif;
}

h1 {
  font-size: 4em;
  margin: 15px;
  color: white;
  text-shadow: 5px 5px black;
}

#red-gradient {
  color: #EE66CC;
}

#prompt-container {
  width: 90%;
  max-width: 600px;
}

#prompt-bar {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: white;
  display: flex;
}

#prompt-bar input {
  border: none;
  border-radius: 9999px;
  outline: none;
  padding: 16px 24px;
  font-size: 1em;
  flex-grow: 1;
}

#prompt-bar button {
  background-color: pink;
  border: none;
  border-radius: 5px;
  box-sizing: content-box;
  padding: 10px;
  margin: 6px;
  width: 24px;
  height: 24px;
}

#go img {
  margin: auto;
}

#error-dialog {
  background-color: red;
  color: white;
  animation: fadeIn 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 15px;
  max-width: max-content;
  border-radius: 5px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#go .loading {
  display: none;
  animation: rotate 1s infinite;
}

#go.htmx-request .loading {
  display: inherit;
}

#go.htmx-request .hammer {
  display: none;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
