body {
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

h1 {
  position: absolute;
  top: 0;
  color: white;
}

canvas {
  width: 100vw;
  height: 100vh;
  animation: fadeIn 0.5s forwards linear;
}

a {
  background-color: pink;
  padding: 10px;
  color: white;
  position: fixed;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
}

#header {
  position: fixed;
  left: 50%;
  top: 40%;
  font-size: 60px;
  transform: translateX(-50%);
  text-shadow: 5px 5px black;
}

#header.skip {
  animation-duration: 0s !important;
}

#header.animate {
  animation: toSide 1s forwards;
}

@keyframes toSide {
  from {
    top: 40%;
    left: 50%;
    transform: translate(-50%);
  }
  to {
    top: 80%;
    left: 5%;
    transform: translate(0);
  }
}

#header img {
  display: block;
  margin: auto;
}

#header.animate img {
  display: none;
}

#home {
  top: 20px;
  left: 20px;
}

#download {
  bottom: 20px;
  left: 20px;
}
