{{define "index/index.tmpl"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/dist/style.css">
	<link rel="stylesheet" href="/dist/index.css">

	<script src="https://unpkg.com/htmx.org@1.9.5"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
	<title>VoxelAI - Voxel Art Generator</title>
</head>
<body>
	<h1>Voxel<span id="red-gradient">AI</span></h1>
	{{template "index/prompt.tmpl"}}
</body>
</html>
{{end}}
