{{define "index/prompt.tmpl"}}
<div id="prompt-container" hx-ext="response-targets" hx-target-*="this" hx-swap="outerHTML">
	<form hx-post="/generate" id="prompt-bar" hx-indicator="#go">
		<input type="text" name="prompt" placeholder="A yellow sphere">
		<button id="go">
			<img class="hammer" src="/assets/ic/hammer.svg" alt="Hammer Icon" width="16" height="16">
			<img class="loading spin" src="/assets/ic/spinner.svg" alt="Spinner Icon" width="16" height="16">
		</button>
	</form>

	{{if .error}}
		<p id="error-dialog">{{.error}}</p>
	{{end}}
</div>
{{end}}
