{{define "index/prompt.tmpl"}}
<div id="prompt-container" hx-ext="response-targets" hx-target-*="this" hx-swap="outerHTML">
	{{if .error}}
		<p>{{.error}}</p>
	{{end}}

	<form hx-post="/generate" id="prompt-bar">
		<input type="text" name="prompt" placeholder="A house made of gold">
		<button hx-indicator="#loading">
			<img src="/assets/ic/hammer.svg" alt="Hammer Icon" width="16" height="16">
		</button>
		<!--<p id="#loading" class="htmx-indicator">load</p>-->
	</form>
</div>
{{end}}
